_site
.gh-pages
.idea
docs/.hugo_build.lock
docs/public/
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
build
composer.lock
minfraud.phar
phpunit.xml
t.php
vendor/
*.iml
*.sw?
*.old
.lycheecache
